html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

@media screen and (min-width: 1100px) {
  .wrapper {
    max-width: 1800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px) {
  .reservationButton--big {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #465166;
    opacity: 0.65;
    border-radius: 2px;
    text-shadow: 1px 1px 2px #00000048;
  }
}

.reservationButton--small {
  background-color: #657B9F;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 6.6666666667px;
  opacity: 0.65;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #00000048;
}
@media screen and (min-width: 1100px) {
  .reservationButton--small:hover {
    background-color: #8097bd;
    opacity: 1;
  }
}

.back-button {
  display: block;
  font-weight: 700;
  text-align: center;
  color: #294461;
  font-family: "Rosario", sans-serif;
  font-size: 18px;
  margin: 50px 0;
  text-decoration: none;
}
@media screen and (min-width: 1000px) {
  .back-button {
    display: none;
  }
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 16px solid #FFFFFF;
  background-color: #2A4159;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 13.3333333333px;
}
@media screen and (min-width: 500px) {
  .footer {
    position: static;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    border-top: 0;
    font-weight: 400;
    font-size: 20px;
    background-color: #2A4159;
    margin-top: 15px;
    padding: 40px 40px 0 40px;
    text-align: center;
    box-shadow: none;
  }
}
@media screen and (min-width: 1100px) {
  .footer {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 70px 280px 50px;
    gap: 20px;
    font-size: 1em;
    position: relative;
  }
}
@media screen and (min-width: 500px) {
  .footer__contacts {
    line-height: 2em;
    letter-spacing: 0.1em;
    margin-bottom: 120px;
    position: relative;
  }
}
@media screen and (min-width: 1100px) {
  .footer__contacts {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 500px) {
  .footer__contacts::after {
    content: "";
    display: block;
    position: absolute;
    left: 25%;
    bottom: -60px;
    width: 50%;
    height: 1px;
    background-color: white;
    opacity: 0.65;
  }
}
@media screen and (min-width: 1100px) {
  .footer__contacts::after {
    display: none;
  }
}
.footer .adress {
  display: none;
}
@media screen and (min-width: 500px) {
  .footer .adress {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .footer .adress {
    display: none;
  }
}
.footer .whereToFind {
  display: none;
}
@media screen and (min-width: 1100px) {
  .footer .whereToFind {
    display: block;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #b5bfcfea;
  }
}
.footer .map {
  display: none;
}
@media screen and (min-width: 500px) {
  .footer .map {
    display: block;
    margin: 20px 0;
  }
}
.footer .contactUs {
  display: none;
}
@media screen and (min-width: 1100px) {
  .footer .contactUs {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    color: #b5bfcfea;
  }
}
.footer .contactUs--regular {
  font-weight: 400;
  margin: 20px 0 10px 0;
  color: #FFFFFF;
}
.footer .contactUs--regular a {
  color: #FFFFFF;
}
.footer .contactUs__phone {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .contactUs__phone p {
  margin-bottom: 20px;
}
.footer .contactUs__phone img {
  max-width: 80px;
  margin: 0 -20px 0 60px;
}
.footer .contactUs__email {
  display: flex;
  justify-content: flex-end;
}
.footer .contactUs__email p {
  margin-bottom: 20px;
}
.footer .contactUs__email img {
  height: 60px;
  margin: 0 0 0 60px;
}
.footer .place {
  display: none;
}
.footer .place img {
  max-width: 50px;
}
@media screen and (min-width: 1100px) {
  .footer .place {
    display: flex;
  }
}
.footer__lastLine {
  display: none;
}
@media screen and (min-width: 500px) {
  .footer__lastLine {
    display: block;
    font-size: 14px;
    line-height: 1.5em;
    margin-left: -40px;
    margin-right: -40px;
    padding: 20px 40px;
    background-color: #657B9F;
    opacity: 0.65;
  }
}
@media screen and (min-width: 1100px) {
  .footer__lastLine {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-bottom: 20px;
    font-size: 16px;
    align-self: center;
  }
}
.footer__lastLine a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 15px;
}
@media screen and (min-width: 1100px) {
  .footer__break {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .menu {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .menu {
    grid-column: 2/-1;
    grid-row: 1/2;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-self: right;
    align-self: flex-end;
    position: relative;
    width: 105%;
  }
}
@media screen and (min-width: 1100px) {
  .menu::after {
    content: "";
    display: block;
    position: absolute;
    left: 35%;
    bottom: -20px;
    width: 60%;
    height: 1px;
    background-color: white;
    opacity: 0.65;
  }
}
.menu__list {
  display: flex;
  flex: 1 1 25%;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  padding: 0 20px;
}
@media screen and (min-width: 500px) {
  .menu__list {
    display: block;
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .menu__list {
    display: flex;
    flex: 1 0 20%;
    align-self: center;
  }
}
.menu__item {
  padding: 20px 10px;
}
@media screen and (min-width: 500px) {
  .menu__item {
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    border-right: none;
    border-bottom: 1px dotted #657B9F;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item {
    padding: 10px;
    margin: 0 10px;
    border-bottom: none;
    padding-top: 20px;
  }
}
.menu__item--first {
  padding: 20px 0;
}
@media screen and (min-width: 500px) {
  .menu__item--first {
    padding: 10px;
    border-bottom: 1px dotted #657B9F;
    width: 40%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item--first {
    padding: 20px;
    border-bottom: none;
    padding: 10px;
    margin: 0 10px;
    padding-top: 20px;
  }
}
.menu__item--last {
  padding: 20px 0;
}
@media screen and (min-width: 500px) {
  .menu__item--last {
    padding: 10px;
    border-bottom: 0;
    width: 40%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item--last {
    padding: 20px;
    border-bottom: none;
    font-size: 1em;
    padding: 10px;
    margin: 0 10px;
    padding-top: 20px;
  }
}
.menu__link {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 500px) {
  .menu__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
  }
}
@media screen and (min-width: 1100px) {
  .menu__link:hover {
    color: #8097bd;
  }
}

.hide-phone {
  display: none;
}
@media screen and (min-width: 500px) {
  .hide-phone {
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .label {
    background-image: url("/images/mainphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px #00000048;
    height: 350px;
    background-position: right bottom;
    background-color: #657B9F;
  }
}
@media screen and (min-width: 1100px) {
  .label {
    height: 700px;
  }
}
@media screen and (min-width: 500px) {
  .label::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A4159;
    box-shadow: 4px 4px 8px #00000048;
    height: 35px;
    opacity: 0.55;
  }
}
@media screen and (min-width: 1100px) {
  .label::after {
    height: 140px;
  }
}
@media screen and (min-width: 500px) {
  .label--pages {
    background-image: url("/images/mainphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px #00000048;
    height: 350px;
    background-position: right bottom;
    background-color: #657B9F;
  }
}
@media screen and (min-width: 1100px) {
  .label--pages {
    background-position: center top;
    height: 180px;
  }
}
@media screen and (min-width: 500px) {
  .label--pages::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A4159;
    box-shadow: 4px 4px 8px #00000048;
    height: 35px;
    opacity: 0.55;
  }
}
@media screen and (min-width: 1100px) {
  .label--pages::after {
    height: 180px;
  }
}

@media screen and (min-width: 1100px) {
  .button {
    display: flex;
    justify-content: center;
  }
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header-button {
  display: none;
}
@media screen and (min-width: 1100px) {
  .header-button {
    display: inline;
    position: absolute;
    bottom: -470px;
  }
  .header-button:hover {
    background-color: #2A4159;
  }
}
.header-button--pages {
  display: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1800px) {
  .header__top {
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__top a {
  margin: -4px auto;
}
.header__top img {
  display: inline;
  height: 50px;
  border-radius: 0 0 40% 40%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
}
@media screen and (min-width: 1100px) {
  .header__top img {
    height: 80px;
    opacity: 0.7;
    border-radius: 50% 50% 0 0;
    margin-top: 27px;
  }
}
.header__contact {
  display: none;
}
@media screen and (min-width: 500px) {
  .header__contact {
    display: block;
    flex: 0 1 auto;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 40px;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px #00000048;
  }
}
@media screen and (min-width: 1100px) {
  .header__contact {
    font-size: 21px;
    padding: 38px 100px;
  }
}
.header__contact--pages {
  display: none;
}
@media screen and (min-width: 500px) {
  .header__contact--pages {
    display: block;
    flex: 0 1 auto;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 40px;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px #00000048;
  }
}
@media screen and (min-width: 1100px) {
  .header__contact--pages {
    font-size: 20px;
    padding: 38px 100px;
  }
}
.headerMenu {
  display: none;
}
@media screen and (min-width: 500px) {
  .headerMenu {
    display: block;
    list-style: none;
    padding: 0;
    margin-top: 45px;
  }
}
@media screen and (min-width: 1100px) {
  .headerMenu {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    background-color: #657B9F;
    text-align: center;
    margin: 0 120px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #00000048;
  }
}
@media screen and (min-width: 1800px) {
  .headerMenu {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.headerMenu__item {
  padding: 20px;
}
@media screen and (min-width: 500px) and (max-width: 1100px) {
  .headerMenu__item {
    padding: 11.7647058824px 0;
    margin: 10px 0;
    width: 170px;
    background-color: #2A4159;
    opacity: 0.7;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px 6px #00000048;
  }
}
@media screen and (min-width: 1100px) {
  .headerMenu__item {
    padding: 0;
    margin: 0;
    align-self: center;
  }
}
.headerMenu__link {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
@media screen and (min-width: 500px) {
  .headerMenu__link {
    padding: 11.7647058824px 60px 11.7647058824px 40px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1100px) {
  .headerMenu__link {
    font-size: 18px;
    padding: 20px;
  }
  .headerMenu__link:hover {
    background-color: #2A4159;
    opacity: 0.75;
    border-radius: 1px;
    position: relative;
  }
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
  .hide-top {
    display: none;
  }
}

.rooms {
  display: block;
  margin: 0 0 15px 0;
  background-color: #b5bfcfea;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .rooms {
    margin: 0 0 15px 0;
  }
}
@media screen and (min-width: 1100px) {
  .rooms {
    display: flex;
    padding: 0 20px;
  }
}
.rooms__card {
  padding: 20px;
  border-bottom: 2px solid #FFFFFF;
}
@media screen and (min-width: 500px) {
  .rooms__card {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
    border-bottom: none;
  }
}
@media screen and (min-width: 1100px) {
  .rooms__card {
    display: block;
    flex: 0 0 calc(50% - basics.$spacer);
  }
}
.rooms__card--reversed {
  padding: 20px;
}
@media screen and (min-width: 500px) {
  .rooms__card--reversed {
    padding: 20px 0 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
  }
}
@media screen and (min-width: 1100px) {
  .rooms__card--reversed {
    display: block;
    flex: 0 0 calc(50% - basics.$spacer);
  }
}

.card--hidden {
  display: none;
}
.card-button {
  text-decoration: none;
  display: block;
  width: 80%;
  margin: 20px auto;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 500px) {
  .card-button {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0;
    width: 80%;
    font-size: 18px;
  }
}
.card-button--reversed {
  text-decoration: none;
  display: block;
  width: 80%;
  margin: 20px auto;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 500px) {
  .card-button--reversed {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;
    width: 80%;
    font-size: 18px;
  }
}
.card__text {
  font-family: "Roboto", sans-serif;
  color: #294461;
}
@media screen and (min-width: 1100px) {
  .card__text {
    padding: 20px 20px 20px 40px;
    font-size: 20px;
  }
}
.card__text--reversed {
  font-family: "Roboto", sans-serif;
  color: #294461;
}
@media screen and (min-width: 1100px) {
  .card__text--reversed {
    padding: 20px 40px 20px 20px;
    font-size: 20px;
  }
}
.card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #294461;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 3px;
  position: relative;
}
.card__title::before {
  content: " ";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #2A4159;
  top: -80px;
  z-index: -2;
}
@media screen and (min-width: 500px) {
  .card__title::before {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .card__title {
    margin-bottom: 20px;
    text-align: left;
  }
}
@media screen and (min-width: 1100px) {
  .card__title {
    text-align: center;
    font-size: 24px;
    padding-left: 20px;
  }
  .card__title::before {
    content: " ";
    position: absolute;
    display: block;
    height: 3px;
    width: 30px;
    background-color: #2A4159;
    top: 50%;
    left: 40px;
  }
  .card__title::after {
    content: " ";
    position: absolute;
    display: block;
    height: 3px;
    width: 30px;
    background-color: #2A4159;
    top: 50%;
    right: 20px;
    z-index: -2;
  }
}
.card__title--reversed {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #294461;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 3px;
  position: relative;
}
.card__title--reversed::before {
  content: " ";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #2A4159;
  top: -80px;
  z-index: -2;
}
@media screen and (min-width: 500px) {
  .card__title--reversed::before {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .card__title--reversed {
    margin-bottom: 20px;
    text-align: right;
  }
}
@media screen and (min-width: 1100px) {
  .card__title--reversed {
    text-align: center;
    font-size: 24px;
    padding-right: 20px;
  }
  .card__title--reversed::before {
    content: " ";
    position: absolute;
    display: block;
    height: 3px;
    width: 30px;
    background-color: #2A4159;
    top: 50%;
    left: 20px;
  }
  .card__title--reversed::after {
    content: " ";
    position: absolute;
    display: block;
    height: 3px;
    width: 30px;
    background-color: #2A4159;
    top: 50%;
    right: 40px;
    z-index: -2;
  }
}
.card__image {
  max-width: 100%;
  border: 10px solid #FFFFFF;
}
@media screen and (min-width: 500px) {
  .card__image {
    max-height: 400px;
    justify-self: center;
  }
}
@media screen and (min-width: 1100px) {
  .card__image {
    max-height: 100%;
    width: 70%;
    margin-left: 15%;
    transform: rotate(3deg);
    box-shadow: 2px 5px 10px #00000048;
    margin-top: 30px;
  }
}
.card__image--reversed {
  max-width: 100%;
  border: 10px solid #FFFFFF;
}
@media screen and (min-width: 1100px) {
  .card__image--reversed {
    width: 70%;
    margin-left: 15%;
    transform: rotate(-5deg);
    box-shadow: 2px 5px 10px #00000048;
    margin-top: 30px;
  }
}
@media screen and (min-width: 500px) {
  .card__content {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 30px 20px 10px 0;
    line-height: 2em;
  }
}
@media screen and (min-width: 1100px) {
  .card__content {
    text-align: justify;
  }
}
@media screen and (min-width: 500px) {
  .card__content--reversed {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 30px 0 10px 20px;
    text-align: right;
    line-height: 2em;
  }
}
@media screen and (min-width: 1100px) {
  .card__content--reversed {
    text-align: justify;
  }
}

.dark-content {
  background-color: #2A4159;
  padding: 20px 40px;
  margin: 70px 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .dark-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 0 0 15px 0;
    border-top: none;
  }
}
@media screen and (min-width: 500px) {
  .dark-content__content {
    align-self: center;
  }
}
.dark-content__img {
  max-width: 100%;
  margin: 20px 0;
  border: 10px solid #FFFFFF;
  transform: rotate(3deg);
}
@media screen and (min-width: 500px) {
  .dark-content__img {
    transform: rotate(0deg);
    align-self: center;
    justify-self: center;
  }
}
@media screen and (min-width: 1100px) {
  .dark-content__img {
    box-shadow: 2px 5px 10px #00000048;
  }
}

.content__title--light {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 3px;
}
@media screen and (min-width: 1100px) {
  .content__title--light {
    font-size: 25px;
  }
}
.content__text--light {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #b5bfcfea;
  text-align: center;
  margin-bottom: 20px;
  line-height: 2em;
}
@media screen and (min-width: 1100px) {
  .content__text--light {
    font-size: 22px;
  }
}

.light-content {
  background-color: #b5bfcfea;
  padding: 20px 40px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .light-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 0 0 15px 0;
    border-top: none;
  }
}
@media screen and (min-width: 1000px) {
  .light-content {
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 500px) {
  .light-content__content {
    align-self: center;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .light-content__content {
    position: relative;
    padding-top: 70px;
  }
  .light-content__content::before {
    content: " ";
    position: absolute;
    top: -80px;
    left: 50%;
    height: 140px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
  .light-content__content::after {
    content: " ";
    position: absolute;
    bottom: -190px;
    left: 50%;
    height: 140px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
}
.light-content__img {
  max-width: 100%;
  margin: 20px 0;
  border: 10px solid #FFFFFF;
  transform: rotate(3deg);
}
@media screen and (min-width: 500px) {
  .light-content__img {
    transform: rotate(0deg);
    align-self: center;
    justify-self: center;
  }
}
@media screen and (min-width: 1100px) {
  .light-content__img {
    box-shadow: 2px 5px 10px #00000048;
  }
}

.light-content-no-img {
  background-color: #b5bfcfea;
  padding: 20px 40px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .light-content-no-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 0 0 15px 0;
    border-top: none;
    position: relative;
  }
}
@media screen and (min-width: 500px) {
  .light-content-no-img__content {
    align-self: center;
    padding-right: 20px;
  }
}
.light-content-no-img__img {
  max-width: 100%;
  margin: 20px 0;
  border: 10px solid #FFFFFF;
  transform: rotate(3deg);
}
@media screen and (min-width: 500px) {
  .light-content-no-img__img {
    transform: rotate(0deg);
    align-self: center;
    justify-self: center;
  }
}
@media screen and (min-width: 1100px) {
  .light-content-no-img__img {
    box-shadow: 2px 5px 10px #00000048;
  }
}

.content {
  background-color: #b5bfcfea;
  padding: 20px 40px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 0 0 15px 0;
    border-top: none;
  }
}
@media screen and (min-width: 500px) {
  .content__content {
    align-self: center;
  }
}
.content__img {
  max-width: 100%;
  margin: 20px 0;
  border: 10px solid #FFFFFF;
  transform: rotate(3deg);
}
@media screen and (min-width: 500px) {
  .content__img {
    transform: rotate(0deg);
    align-self: center;
    justify-self: center;
  }
}
@media screen and (min-width: 1100px) {
  .content__img {
    box-shadow: 2px 5px 10px #00000048;
  }
}
.content__title--dark {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #294461;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 3px;
  line-height: 1.5em;
}
@media screen and (min-width: 1100px) {
  .content__title--dark {
    font-size: 25px;
  }
}
.content__text--dark {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #294461;
  text-align: center;
  margin-bottom: 20px;
  line-height: 2em;
  margin-bottom: 100px;
}
@media screen and (min-width: 500px) {
  .content__text--dark {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1100px) {
  .content__text--dark {
    font-size: 22px;
  }
}
@media screen and (min-width: 500px) {
  .content__text--dark {
    list-style: none;
  }
}
.content__text--dark a {
  color: #2A4159;
}

.neutral {
  transform: rotate(0deg);
}
@media screen and (min-width: 500px) {
  .neutral {
    display: none;
  }
}

.center {
  text-align: center;
  line-height: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #294461;
}
@media screen and (min-width: 500px) {
  .center {
    margin-top: 20px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1100px) {
  .center {
    font-size: 20px;
  }
}

.center--light {
  text-align: center;
  line-height: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #b5bfcfea;
}
@media screen and (min-width: 500px) {
  .center--light {
    margin-top: 20px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1100px) {
  .center--light {
    font-size: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .padding-text {
    padding: 100px 60px;
  }
}

@media screen and (max-width: 500px) {
  .header-space--light {
    margin-top: 100px;
    border-top: 3px dashed #FFFFFF;
  }
}

@media screen and (max-width: 500px) {
  .header-space--dark {
    margin-top: 100px;
    border-top: 3px dashed #2A4159;
  }
}

@media screen and (max-width: 500px) {
  .bottom-space {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 500px) {
  .photos {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .photos {
    padding-top: 36px;
  }
}
@media screen and (min-width: 1000px) {
  .photos {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding-right: 10px;
  }
  .photos::after {
    content: " ";
    position: absolute;
    top: 20px;
    right: 5px;
    bottom: -300px;
    height: 95%;
    width: 5px;
    background-color: #2A4159;
    opacity: 0.65;
    z-index: 0;
  }
}
@media screen and (min-width: 1100px) {
  .photos::after {
    height: 100%;
  }
}

.gallery {
  position: relative;
}
.gallery input[type=checkbox] {
  display: none;
}
.gallery img {
  max-width: 90%;
  margin: 3px;
  transition: transform 0.35s ease;
  cursor: zoom-in;
  border: 10px solid #FFFFFF;
}
@media screen and (min-width: 1000px) {
  .gallery img {
    box-shadow: 5px 3px 10px #00000048;
  }
}
.gallery input[type=checkbox]:checked ~ img {
  transform: scale(2.5);
  cursor: zoom-out;
  position: absolute;
  left: -180px;
  top: -20px;
  z-index: 3;
  border: 10px solid #FFFFFF;
}
@media screen and (min-width: 1000px) {
  .gallery input[type=checkbox]:checked ~ img {
    transform: scale(3.3);
    left: -300px;
    top: -20px;
  }
}

.line {
  position: relative;
}
@media screen and (min-width: 500px) {
  .line {
    line-height: 2.5em;
  }
  .line::after {
    content: " ";
    position: absolute;
    display: block;
    height: 2px;
    width: 250px;
    background-color: #2A4159;
    top: 110%;
    right: 10%;
    z-index: -2;
  }
}
@media screen and (min-width: 1000px) {
  .line {
    line-height: 1.5em;
  }
  .line::after {
    content: " ";
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    background-color: #2A4159;
    top: 130%;
    right: 10%;
    z-index: -2;
  }
}

.center-me {
  align-self: center;
}

.services {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  margin: 0 0 15px 0;
}
@media screen and (min-width: 500px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .services {
    grid-template-columns: repeat(6, 1fr);
  }
}
.services__item {
  background-color: #2A4159;
  box-shadow: 0 2px 10px #00000048;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5em;
  letter-spacing: 2px;
}
@media screen and (min-width: 1100px) {
  .services__item:hover {
    background-color: #657B9F;
  }
}
.services__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  padding: 0 20px 20px 20px;
}
.services__picture {
  align-self: center;
}
.services__image {
  max-width: 70px;
}

@media screen and (min-width: 1000px) {
  .main-box__top {
    position: relative;
    padding-top: 70px;
  }
  .main-box__top::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
  .main-box__top::after {
    content: " ";
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 2600px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
}
@media screen and (min-width: 1100px) {
  .main-box__top {
    position: relative;
    padding-top: 70px;
  }
  .main-box__top::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
  .main-box__top::after {
    content: " ";
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 2350px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
}
@media screen and (min-width: 1800px) {
  .main-box__top {
    position: relative;
    padding-top: 70px;
  }
  .main-box__top::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
  .main-box__top::after {
    content: " ";
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 1500px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
}

@media screen and (min-width: 1000px) {
  .main-box__text {
    position: relative;
    padding-top: 70px;
  }
  .main-box__text::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
  .main-box__text::after {
    content: " ";
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 1400px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
}
@media screen and (min-width: 1100px) {
  .main-box__text {
    position: relative;
    padding-top: 70px;
  }
  .main-box__text::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
  .main-box__text::after {
    content: " ";
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 1300px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
}
@media screen and (min-width: 1800px) {
  .main-box__text {
    position: relative;
    padding-top: 70px;
  }
  .main-box__text::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
  .main-box__text::after {
    content: " ";
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 1750px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: 1;
  }
}

@media screen and (min-width: 1000px) {
  .main__box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
  }
}
.main__box h1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.no-space {
  margin: 15px 0;
}

.bottom-space--smaller {
  padding-bottom: 80px;
}
@media screen and (min-width: 500px) {
  .bottom-space--smaller {
    padding-bottom: 0;
  }
}

.light-content--no-grid {
  background-color: #b5bfcfea;
  padding: 20px 40px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}

.light-content--grid {
  background-color: #b5bfcfea;
  padding: 20px 40px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .light-content--grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px 0 40px 40px;
  }
}
@media screen and (min-width: 1000px) {
  .light-content--grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 500px) {
  .light-content--grid article {
    align-self: center;
  }
}
@media screen and (min-width: 500px) {
  .light-content--grid h1 {
    margin: 0;
  }
}
.light-content--grid img {
  max-width: 100%;
  align-self: center;
  border: 10px solid #FFFFFF;
}

.dark-content--no-grid {
  background-color: #2A4159;
  padding: 20px 40px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .dark-content--no-grid {
    margin: 0 0 15px 0;
  }
}
@media screen and (min-width: 1000px) {
  .dark-content--no-grid {
    background-color: #FFFFFF;
    color: #294461;
    box-shadow: none;
  }
}

.dark-content--grid {
  background-color: #2A4159;
  padding: 20px 40px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 10px #00000048;
}
@media screen and (min-width: 500px) {
  .dark-content--grid {
    margin: 0 0 15px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 40px 40px 40px 0;
  }
}
@media screen and (min-width: 1000px) {
  .dark-content--grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 40px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 500px) {
  .dark-content--grid h1 {
    margin: 0;
  }
}
@media screen and (min-width: 500px) {
  .dark-content--grid article {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
  }
}
.dark-content--grid img {
  max-width: 100%;
  border: 10px solid #FFFFFF;
}
@media screen and (min-width: 500px) {
  .dark-content--grid img {
    align-self: center;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 500px) {
  .padding--bigger {
    padding: 40px 80px;
  }
}

@media screen and (max-width: 1000px) {
  .hide-me {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .room-photos {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .room-photos {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: right;
    padding-right: 40px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .room-photos {
    position: relative;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1100px) {
  .room-photos::after {
    height: 100%;
  }
}
@media screen and (min-width: 1800px) {
  .room-photos {
    grid-template-columns: repeat(6, 1fr);
    padding-right: 40px;
  }
}

.room-gallery {
  position: relative;
}
.room-gallery input[type=checkbox] {
  display: none;
}
.room-gallery img {
  max-width: 100px;
  margin: 3px;
  transition: transform 0.35s ease;
  cursor: zoom-in;
  border: 2px solid #FFFFFF;
}
@media screen and (min-width: 1000px) {
  .room-gallery img {
    box-shadow: 5px 3px 10px #00000048;
  }
}
.room-gallery input[type=checkbox]:checked ~ img {
  transform: scale(2.5);
  cursor: zoom-out;
  position: absolute;
  left: -180px;
  top: -20px;
  z-index: 3;
  border: 10px solid #FFFFFF;
}
@media screen and (min-width: 500px) {
  .room-gallery input[type=checkbox]:checked ~ img {
    transform: scale(5);
    left: -250px;
    top: -20px;
  }
}
@media screen and (min-width: 1000px) {
  .room-gallery input[type=checkbox]:checked ~ img {
    transform: scale(7);
    left: -300px;
    top: -20px;
  }
}

@media screen and (min-width: 500px) {
  .rooms__img-line {
    position: relative;
  }
  .rooms__img-line::before {
    content: " ";
    position: absolute;
    top: 90px;
    left: 175px;
    height: 80%;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: -1;
  }
}

.booking__button {
  background-color: #2A4159;
  color: #FFFFFF;
  font-family: "Rosario", sans-serif;
  font-size: 24px;
  font-weight: 300;
  border-radius: 0 30%;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 2px 3px 5px #00000048;
}
@media screen and (min-width: 500px) {
  .booking__button {
    padding-top: 0;
    margin: 0;
    border-radius: 0;
    background-image: url(/images/mainphoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    opacity: 0.65;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 3px;
    text-shadow: 1px 2px #FFFFFF;
  }
  .booking__button:hover {
    opacity: 0.9;
  }
}
@media screen and (min-width: 1100px) {
  .booking__button {
    font-size: 40px;
    margin: -40px 0;
  }
}

.reservation,
.contact {
  padding: 40px 40px 120px 40px;
}
@media screen and (min-width: 500px) {
  .reservation,
.contact {
    padding: 40px;
  }
}

.map {
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 500px) {
  .map {
    padding-right: 40px;
  }
}

.contact__text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 2em;
  color: #294461;
  margin-bottom: 40px;
  position: relative;
}
.contact__text::after {
  content: " ";
  position: absolute;
  bottom: -80px;
  left: 50%;
  height: 70px;
  width: 2px;
  background-color: #2A4159;
  opacity: 1;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .contact__text {
    font-size: 25px;
  }
}

.contact__text--no-line {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 2em;
  color: #294461;
  margin-bottom: 40px;
}
@media screen and (min-width: 500px) {
  .contact__text--no-line {
    font-size: 25px;
  }
}

.contact__title {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 2em;
  color: #294461;
  margin: 80px 20px 0 20px;
}
@media screen and (min-width: 500px) {
  .contact__title {
    font-size: 25px;
  }
}

@media screen and (min-width: 500px) {
  .reservation__text {
    position: relative;
    padding: 40px 20px;
  }
  .reservation__text::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: -1;
  }
  .reservation__text::after {
    content: " ";
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 50px;
    width: 2px;
    background-color: #2A4159;
    opacity: 1;
    z-index: -1;
  }
}
@media screen and (min-width: 1000px) {
  .reservation__text::before {
    top: -20px;
    height: 60px;
    z-index: 1;
  }
  .reservation__text::after {
    height: 60px;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */