@use 'basics';

.light-content {

    background-color: basics.$b-lighter;
    padding: basics.$spacer basics.$spacer*2;
    margin: 0 0 basics.$between-line 0;
    box-shadow: 0 2px 10px basics.$shadow;

    @media screen and (min-width: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px; 
        margin: 0 0 basics.$between-line 0;
        border-top: none;
    }

    @media screen and (min-width: 1000px) {
        background-color: basics.$b-base;
    }

    &__content {
        @media screen and (min-width: 500px) {
            align-self: center;
            padding-right: 20px;
        }

        @media screen and (min-width: 1800px) {
            position: relative;
            padding-top: 70px;
    
            &::before {
                content: " ";
                position: absolute;
                top: -80px;
                left: 50%;
                height: 140px;
                width: 2px;
                background-color: basics.$b-dark;
                opacity: 1;
                z-index: 1;
            }
        
            &::after {
                content: " ";
                position: absolute;
                bottom: -190px;
                left: 50%;
                height: 140px;
                width: 2px;
                background-color: basics.$b-dark;
                opacity: 1;
                z-index: 1;
            }
            
        }
    }

    &__img {
        max-width: 100%;
        margin: basics.$spacer 0;  
        border: 10px solid basics.$b-base; 
        transform: rotate(3deg);   

        @media screen and (min-width: 500px) {
            transform: rotate(0deg);
            align-self: center;
            justify-self: center;
        }

        @media screen and (min-width: 1100px) {
            box-shadow: 2px 5px 10px basics.$shadow;
        }
    }
}

.light-content-no-img {

    background-color: basics.$b-lighter;
    padding: basics.$spacer basics.$spacer*2;
    margin: 0 0 basics.$between-line 0;
    box-shadow: 0 2px 10px basics.$shadow;

    @media screen and (min-width: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px; 
        margin: 0 0 basics.$between-line 0;
        border-top: none;
        position: relative;
    }

    &__content {
        @media screen and (min-width: 500px) {
            align-self: center;
            padding-right: 20px;
        }
    }

    &__img {
        max-width: 100%;
        margin: basics.$spacer 0;  
        border: 10px solid basics.$b-base; 
        transform: rotate(3deg);   

        @media screen and (min-width: 500px) {
            transform: rotate(0deg);
            align-self: center;
            justify-self: center;
        }

        @media screen and (min-width: 1100px) {
            box-shadow: 2px 5px 10px basics.$shadow;
        }
    }
}

.content {

    background-color: basics.$b-lighter;
    padding: basics.$spacer basics.$spacer*2;
    margin: 0 0 basics.$between-line 0;
    box-shadow: 0 2px 10px basics.$shadow;

    @media screen and (min-width: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px; 
        margin: 0 0 basics.$between-line 0;
        border-top: none;
    }

    &__content {
        @media screen and (min-width: 500px) {
            align-self: center;
        }
    }

    &__img {
        max-width: 100%;
        margin: basics.$spacer 0;  
        border: 10px solid basics.$b-base; 
        transform: rotate(3deg);   

        @media screen and (min-width: 500px) {
            transform: rotate(0deg);
            align-self: center;
            justify-self: center;
        }

        @media screen and (min-width: 1100px) {
            box-shadow: 2px 5px 10px basics.$shadow;
        }
    }

    &__title--dark {
        font-family: basics.$f-text;
        font-size: 24px;
        font-weight: basics.$w-bold;
        color: basics.$c-secondary;
        text-align: center;
        margin-bottom: basics.$spacer*2;
        letter-spacing: 3px;
        line-height: 1.5em;

        @media screen and (min-width: 1100px) {
            font-size: 25px;
        }
    }

    &__text--dark {
        font-family: basics.$f-text;
        font-size: 16px;
        color: basics.$c-secondary;
        text-align: center;
        margin-bottom: basics.$spacer;
        line-height: 2em;
        margin-bottom: 100px;

        @media screen and (min-width: 500px) {
            margin-bottom: 0;
        }

        @media screen and (min-width: 1100px) {
            font-size: 22px;
        }
    }

    &__text--dark {

        @media screen and (min-width: 500px) {    
            list-style: none;
        }
    }
   
    &__text--dark a {
        color: basics.$b-dark;
    }
}

.neutral {
    transform: rotate(0deg);

    @media screen and (min-width: 500px) {
        display: none;
    }
}

.center {
    text-align: center;
    line-height: 2em;
    font-family: basics.$f-text;
    font-size: 18px;
    color: basics.$c-secondary;

    @media screen and (min-width: 500px) {
        margin-top: 20px;
        padding: 0 40px;
    }

    @media screen and (min-width: 1100px) {
        font-size: 20px;;
    }
}

.center--light {
    text-align: center;
    line-height: 2em;
    font-family: basics.$f-text;
    font-size: 18px;
    color: #b5bfcfea;

    @media screen and (min-width: 500px) {
        margin-top: 20px;
        padding: 0 40px;
    }

    @media screen and (min-width: 1100px) {
        font-size: 20px;;
    }
}

.padding-text {

    @media screen and (min-width: 1100px) {
        padding: 100px 60px;
    }
    
}

.header-space--light {
    @media screen and (max-width: 500px) {
        margin-top: 100px;
        border-top: 3px dashed basics.$b-base;
    }
}

.header-space--dark {
    @media screen and (max-width: 500px) {
        margin-top: 100px;
        border-top: 3px dashed basics.$b-dark;
    }
}

.bottom-space {
    @media screen and (max-width: 500px) {
        padding-bottom: 150px;
    }
}

.photos {
    @media screen and (max-width: 500px) {
        display: none;
    }

    @media screen and (min-width: 500px) {
        padding-top: 36px;
    }

    @media screen and (min-width: 1000px) {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        position: relative;
        padding-right: 10px;

        &::after {
            content: " ";
            position: absolute;
            top: 20px;
            right: 5px;
            bottom: -300px;
            height: 95%;
            width: 5px;
            background-color: basics.$b-dark;
            opacity: 0.65;
            z-index: 0;
        }
    }

    @media screen and (min-width: 1100px) {

        &::after {
            height: 100%;
        }
    }
}
.gallery {

    position: relative;  

    & input[type=checkbox] {
        display: none;
    }

    & img {
        max-width: 90%;
        margin: 3px;
        transition: transform 0.35s ease;
        cursor: zoom-in;
        border: 10px solid basics.$b-base;

        @media screen and (min-width: 1000px) {
           box-shadow: 5px 3px 10px basics.$shadow;  
        }
    }

    & input[type=checkbox]:checked~img {
        transform: scale(2.5);
        cursor: zoom-out;
        position: absolute;
        left: -180px;
        top: -20px;
        z-index: 3;
        border: 10px solid basics.$b-base; 

        @media screen and (min-width: 1000px) {
            transform: scale(3.3);
            left: -300px;
            top: -20px;
        }
    }

}

.line {
    position: relative;

    @media screen and (min-width: 500px) {
        line-height: 2.5em;
        &::after {
            content: " ";
            position: absolute;
            display: block;
            height: 2px;
            width: 250px;
            background-color: basics.$b-dark;
            top: 110%;
            right: 10%;
            z-index: -2;
        }
    
    }

    @media screen and (min-width: 1000px) {
        line-height: 1.5em;
        &::after {
            content: " ";
            position: absolute;
            display: block;
            height: 2px;
            width: 80%;
            background-color: basics.$b-dark;
            top: 130%;
            right: 10%;
            z-index: -2;
        }
    
    }
}

.center-me {
    align-self: center;
}

