---
layout: page.njk
---

<body>
    <div class="wrapper">

        <div class="label">

        </div>

        <header class="header">

            <div class="header__top">            
                <a href="mailto:email@email.com" class="header__contact">mail@mail.com</a> 
                <img src="images/logo.jpeg" alt="logo">
                <a href="tel:+420123456789" class="header__contact">+420 123 456 789</a>
            </div>


            <ul class="headerMenu">
                <li class="headerMenu__item hide-top"><a href="/cs/index-cs" class="headerMenu__link">Úvod</a></li>
                <li class="headerMenu__item"><a href="/cs/about-us" class="headerMenu__link">O nás</a></li>
                <li class="headerMenu__item hide-top"><a href="/cs/services" class="headerMenu__link">Služby</a></li>
                <li class="headerMenu__item"><a href="/cs/rooms" class="headerMenu__link">Pokoje</a></li>
                <li class="headerMenu__item"><a href="/cs/reservation" class="headerMenu__link">Rezervace</a></li>
                <li class="headerMenu__item"><a href="/cs/contacts" class="headerMenu__link">Kontakt</a></li>   
            </ul>

            <div class="button">
                <a href="/cs/reservation" class="reservationButton--big header-button">Rezervovat pokoj</a>
            </div>

        </header>

        {{ content | safe }}

        <footer class="footer">
            <div class="footer__contacts">
                <p class="adress">ALTE SCHULE Bad&nbsp;Brambach <br> 
                Deckerstraße&nbsp;23, <br> 
                08648   Bad&nbsp;Brambach</p>
                
                <div class="place">
                    <img src="images/map-icon.png" alt="compass">
                    <p class="whereToFind">Kde nás najdete? </p>
                </div>

                <div class="map" style="width: 100%"><iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="20" marginwidth="20" src="https://maps.google.com/maps?width=100%25&amp;height=250&amp;hl=en&amp;q=23%20Deckerstrasse%20Bad%20Brambach+(Kde%20n%C3%A1s%20najdete)&amp;t=p&amp;z=9&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker</a></iframe></div>

            </div>

            <div class="contactUs">
                <div class="contactUs__phone">
                    <div>
                        <p>Zavolejte nám: </p>
                        <a href="tel:+420123456789" class="contactUs--regular">+420 123 456 789</a>
                    </div>

                    <img src="images/phone-icon.png" alt="phone">
                </div>
                
                <div class="contactUs__email">
                    <div>                    
                        <p>Napište nám: </p>
                        <a href="mailto:email@email.com" class="contactUs--regular">mail@mail.com</a> 
                    </div>
                    
                    <img src="images/email-icon.png" alt="mail">


                </div>
            </div>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item--first"><a href="/cs/about-us" class="menu__link">O nás</a></li>
                    <li class="menu__item"><a href="/cs/services" class="menu__link hide-phone">Služby</a></li>
                    <li class="menu__item"><a href="/cs/rooms" class="menu__link">Pokoje</a></li>
                    <li class="menu__item"><a href="/cs/reservation" class="menu__link">Rezervace</a></li>
                    <li class="menu__item--last"><a href="/cs/contacts" class="menu__link">Kontakt</a></li>
                </ul>
            </nav>
            
            <p class="footer__lastLine"> ALTE SCHULE Bad&nbsp;Brambach 2021 / <br class="footer__break">
            Created by Veronika Háková <br> <a href="/cs/credits">→ Credits ←</a></p>
            
        </footer> 
    </div> 
</body>
