@use 'basics';

body {
    margin: 0;
}

p {
    margin: 0;
}

.footer {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 16px solid basics.$b-base;
    background-color: basics.$b-dark;
    color: basics.$c-primary;
    font-weight: basics.$w-light;
    font-size: basics.$s-text/1.5;

    @media screen and (min-width: 500px) {
        position: static;
        font-family: basics.$f-text;
        color: basics.$c-primary;
        font-weight: basics.$w-regular;
        font-size: basics.$s-footer;
        background-color: basics.$b-dark;
        margin-top: basics.$between-line;
        padding: basics.$spacer*2 basics.$spacer*2 0 basics.$spacer*2;
        text-align: center; 
        box-shadow: none;   
    }

    @media screen and (min-width: 1100px) {
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: 70px 280px 50px;
        gap: basics.$spacer;
        font-size: 1em;
        position: relative;
    }


    &__contacts {

        @media screen and (min-width: 500px) {
            line-height: 2em;
            letter-spacing: 0.1em;
            margin-bottom: basics.$spacer*6;
            position: relative;
        }

        @media screen and (min-width: 1100px) {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            margin-bottom: 0;
        }

        &::after {

            @media screen and (min-width: 500px) {
                content: "";
                display: block;
                position: absolute;
                left: 25%;
                bottom: -(basics.$spacer*3);
                width: 50%;
                height: 1px;
                background-color: white;
                opacity: 0.65;
            }

            @media screen and (min-width: 1100px) {
                display: none;
            }
        }
    }

    .adress {
        display: none;

        @media screen and (min-width: 500px) {
            display: block;
        }

        @media screen and (min-width: 1100px) {
            display: none;
        }
    }

    .whereToFind {
        display: none;

        @media screen and (min-width: 1100px) {
            display: block;
            margin: basics.$spacer/2;
            text-align: left;
            font-size: basics.$s-text;
            font-weight: basics.$w-bold;
            color: basics.$b-lighter;
        }
    }

    .map {
        display: none;

        @media screen and (min-width: 500px) {
            display: block;
            margin: basics.$spacer 0;
        }
    }

    .contactUs {
        display: none;

        @media screen and (min-width: 1100px) {
            display: block;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            margin: basics.$spacer;
            text-align: right;
            font-size: basics.$s-text;
            font-weight: basics.$w-bold;
            color: basics.$b-lighter;
        }

        &--regular {
            font-weight: basics.$w-regular;
            margin: basics.$spacer 0 basics.$spacer/2 0;
            color: basics.$c-primary;

            & a {
                color: basics.$c-primary;
            }
        }

        &__phone {
            margin-bottom: basics.$spacer*2;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            & p {
                margin-bottom: basics.$spacer;
            }

            & img {
                max-width: 80px;
                margin: 0 -20px 0 basics.$spacer*3;
            }
        }

        &__email {
            display: flex;
            justify-content: flex-end;

            & p {
                margin-bottom: basics.$spacer;
            }

            & img {
                height: 60px;
                margin: 0 0 0 basics.$spacer*3;
            }
        }

    }

    .place {
        
        display: none;

        & img {
            max-width: 50px;
        }
        @media screen and (min-width: 1100px) {
            display: flex;
        }
        
    }

    &__lastLine {

        display: none;

        @media screen and (min-width: 500px) {
            display: block;
            font-size: 14px;
            line-height: 1.5em;
            margin-left: -(basics.$spacer*2);
            margin-right: -(basics.$spacer*2);
            padding: basics.$spacer basics.$spacer*2;
            background-color: basics.$b-darker;
            opacity: 0.65; 
        }

        @media screen and (min-width: 1100px) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            margin-bottom: basics.$spacer;
            font-size: basics.$s-footer*0.6;
            align-self: center;
        }
    }

    &__break {

        @media screen and (min-width: 1100px) {
            display: none;
        }
    }

}

.menu {

    @media screen and (min-width: 500px) {
        margin-bottom: basics.$spacer*3;
    }

    @media screen and (min-width: 1100px) {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        margin-bottom: basics.$spacer;
        margin-top: basics.$spacer;
        justify-self: right;
        align-self: flex-end;
        position: relative;
        width: 105%;
    }

    &::after {
        @media screen and (min-width: 1100px) {
            content: "";
            display: block;
            position: absolute;
            left: 35%;
            bottom: -(basics.$spacer);
            width: 60%;
            height: 1px;
            background-color: white;
            opacity: 0.65;
        }
    }

    &__list {

        display: flex;
        flex: 1 1 25%;
        justify-content: space-between;
        text-align: center;
        list-style: none;
        padding: 0 basics.$spacer;

        @media screen and (min-width: 500px){
            display: block;
            padding: 0;
        }

        @media screen and (min-width: 1100px) {
            display: flex;
            flex: 1 0 20%;
            align-self: center;
        }
    }

    &__item {

        padding: basics.$spacer basics.$spacer/2;

        @media screen and (min-width: 500px) {
            padding: basics.$spacer/2;
            width: 40%;
            margin: 0 auto;
            border-right: none;
            border-bottom: 1px dotted basics.$b-darker;
        }

        @media screen and (min-width: 1100px) {
            padding: basics.$spacer/2;
            margin: 0 basics.$spacer/2;
            border-bottom: none;
            padding-top: basics.$spacer;
        }

        &--first {

            padding: basics.$spacer 0;

            @media screen and (min-width: 500px) {
                padding: basics.$spacer/2;
                border-bottom: 1px dotted basics.$b-darker;
                width: 40%;
                margin: 0 auto;
            }

            @media screen and (min-width: 1100px) {
                padding: basics.$spacer;
                border-bottom: none;
                padding: basics.$spacer/2;
                margin: 0 basics.$spacer/2;
                padding-top: basics.$spacer;
            }
        }

        &--last {

            padding: basics.$spacer 0;

            @media screen and (min-width: 500px) {
                padding: basics.$spacer/2;
                border-bottom: 0;
                width: 40%;
                margin: 0 auto;
            }

            
            @media screen and (min-width: 1100px) {
                padding: basics.$spacer;
                border-bottom: none;
                font-size: 1em;
                padding: basics.$spacer/2;
                margin: 0 basics.$spacer/2;
                padding-top: basics.$spacer;
            }
        }
    }

    &__link {

        color: basics.$c-primary;
        text-decoration: none;
        text-transform: uppercase;
        font-family: basics.$f-text;

        @media screen and (min-width: 500px) {
            text-decoration: none;
            color: basics.$c-primary;
            font-size: 18px;
        }

        @media screen and (min-width: 1100px) {
            
            &:hover {
                color: basics.$b-light;
            }
        }
    }
}

.hide {
    display: none;

    @media screen and (min-width: 500px) {
        display: block;
    }

}

